Digilent Adpet 2	Adept 2.15.3	C:\Program Files (x86)\National Instruments\LabVIEW 2011\vi.lib\LabVIEW Hacker\Adept\Private\Installer\Check Adept Runtime.vi	http://www.digilentinc.com/Data/Products/adept2/digilent.adept.system_v2.15.3.exe	/quiet
MS VC++ Redistributable (x86)	2013	C:\Program Files (x86)\National Instruments\LabVIEW 2011\vi.lib\LabVIEW Hacker\Adept\Private\Installer\Check VC++ Redist.vi	http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe	/quiet
